@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Nunito');

// CONFIG
$mainFont: "Nunito";
$spinner-normal: 15px;
$standartBorder: 1.5px;
$standartTransition: 0.4s;

// SCREENS
$mediaMD: 750px;
$mediaLG: 900px;


// COLORS
$first: royalblue;
$second: #ffc600;


$first-l: lighten($first, 8%);
$first-2l: lighten($first, 25%);
$first-d: darken($first, 8%);
$first-2d: darken($first, 25%);

$second-l: lighten($second, 8%);
$second-2l: lighten($second, 25%);
$second-d: darken($second, 8%);
$second-2d: darken($second, 25%);



@import 'navbar';
@import 'form';
@import 'misc';



body {
    margin: 0;
}

body, input, button, select {
   font-family: $mainFont;
}

a {
    text-decoration: none;
    color: $second;

    &:hover {
       color: $second-2l;
    }
}

button {
   cursor: pointer;
}

.container {
    padding: 25px;
}

.grid {
   display: grid;
   justify-content: center;
   width: 50%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;

   @media all and (max-width: $mediaMD) {
      width: 100%;
   }

   button:not(.max) {
      justify-self: center;
   }
}



.form-grid {
   display: inline-grid;
   grid-template-columns: min-content max-content;
   align-items: center;
   grid-column-gap: 15px;
}

.error {
   color: red;
}

.alert {
   position: relative;
   padding: 8px 6px;
   color: $first-2d;
   background: white;
   border: 1px solid $first;
   border-left: 4px solid $first;
   border-radius: $standartBorder;
   text-align: left;

   &.small {
      width: 50%;
   }

   button.close {
      outline: none;
      border: 0;
      background: transparent;
      position: absolute;
      top: 0;
      right: 4px;
      padding: 4px;
      color: $first-2d;

   }
}
